@charset "utf-8";

/* CSS Document */
body {

}
.logo {
  
}
.background {
  background-size: contain;
}
h1 {
  font-family: 'Roboto Mono', monospace;
  font-size: 35pt;
  margin-left: 35px;
  padding: 0px;
	color: white;
}

nav {
font-family: 'Oswald', sans-serif;
  font-size: 15pt;
	color: white;
  list-style-type: none;
  border-bottom-style: solid;
  border-width: 5px;
  border-color: gold;
  margin-right: 100px;
  margin-left: 60px;
}

li {
  display: inline;
  padding-left: 7px;
  padding-right: 7px;
  padding-bottom: 7px;
}

.bio {
  margin-left: 100px;
  margin-right: 250px;
font-family: 'Maven Pro', sans-serif;
  font-size: 12pt;
	color: white;
}

/*footer {
	position:absolute;
	bottom: 0;
	float: none;
	padding-top: 5px;
	padding-left:none;
	padding-right: 5px;
	margin: 2px;
	align-content:center;
}


.copyright {
	float: right;
	margin: 0px;
	align-content: center;
}
*/
.card {
  position: absolute;
  perspective: 600px;
  transition: 0.5s;
}

.card .front {
  position: absolute;
  margin-left: 1050px;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  background: #000;
  backface-visibility: hidden;
  transform: rotateX(0deg);
  transition: 0.5s;
}

.card:hover .front {
  transform: rotateX(-180deg);
}

.card:hover .back {
  transform: rotateX(0deg);
}

.card .back {
  position: absolute;
  margin-left: 1050px;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  background: #000;
  backface-visibility: hidden;
  transform: rotateX(180deg);
  transition: 0.5s;
}

.card .back .details {
  color: white;
  text-align: center;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
  padding-top: 50px;
}

/* a:visited {
	color: white;
} */
